---
# ensure Jekyll properly reads file.
---
@charset "UTF-8";

{% include normalize.min.css %}
@import "bourbon/bourbon";
@import "neat/neat";


/* ----------------------------------------
  
  GLOBAL

---------------------------------------- */
/* allows inline CSS statments for media queries */
@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint + px) { @content; }
}
@mixin transition {
  webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
$accent-color-1: #0D91D9;
$accent-color-2: #224099;
@mixin font-1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
@mixin font-2 {
  font-family: 'Questrial', serif;
  font-weight: 400;
}
.container {
  @include outer-container;
  padding: 0 3%; 
}
body {
  @include font-1;
  font-size: 14px;
  /* RESPONSIVE */
  @include respond-to(768) {
    font-size: 16px;
  }
}
img {
  max-width: 100%;
}
a {
  color: $accent-color-1;
  &:hover {
    color: $accent-color-1;
    opacity: .8;
  }
  img {
    vertical-align: middle;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-2;
  margin-bottom: 0;
  line-height: 1.25em;
  color: #222;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
}
ul {
  padding: 0;
  margin: 0;
}
p {
  line-height: 1.7;
  font-size: 1.1em;
  color: #333;
}
strong {
  font-weight: 700;
}
.btn {
  @include font-2;
  display: inline-block;
  width: 100%;
  padding: 20px 15px;
  text-align: center;
  background: $accent-color-2;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  &:hover {
    @include transition;
    opacity: .8;
    color: #fff;
  }
}
hr {
  margin-top: 5%;
  margin-bottom: 5%;
  border: 0;
  border-bottom: 0;
  border-top: 1px solid #ccc;
}
.contact-info {
  @include span-columns(12);
  text-align: center;
  ul {
    margin-bottom: 0;
    li {
      @include font-2;
      display: inline-block;
      margin: 0 1.5%;
      font-size: 1.3em;
      color: $accent-color-1;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .linkedin {
        font-size: 2em;
        vertical-align: sub;
        color: #007bb6;
        i {
          vertical-align: middle;
        }
      }
    }
  }
}



/* ----------------------------------------
  
  HEADER

---------------------------------------- */
header {
  padding: 1% 0;
  border-bottom: 1px solid #ccc;
  background: url("{{ site.baseurl}}/img/shattered.png");
  nav {
    @include span-columns(12);
    .logo {
      @include span-columns(4);
      /* RESPONSIVE */
      @include respond-to(768) {
        @include span-columns(2);
      }
    }
    .mobile-menu {
      @include span-columns(4);
      @include shift(4);
      @include omega();
      display: block;
      padding: 4%;
      border: none;
      background: none;
      color: #333;
      font-size: 1.2em;
      &:focus {
        outline: none;
      }
      /* RESPONSIVE */
      @include respond-to(768) {
        display: none;
      }
    }
    .link-list {
      @include span-columns(12);
      display: none;
      margin: 2% 0 0;
      padding: 0;
      text-align: right;
      /* RESPONSIVE */
      @include respond-to(768) {
        @include span-columns(10);
        display: block !important;
      }
      li {
        display: block;
        margin: 1% 0 2%;
        text-align: center;
        /* RESPONSIVE */
        @include respond-to(768) {
          display: inline-block;
          margin: 0 0 0 4%;
          text-align: right;
        }
        a {
          display: block;
          padding: 10% 0 4%;
          font-size: 1.1em;
          color: #fff;
          background: #333;
          text-decoration: none;
          &:hover {
            opacity: .8;
          }  
          /* RESPONSIVE */
          @include respond-to(768) {
            color: $accent-color-1;
            background: inherit;
          }
        }
      }
      .active {
        a {
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }
}


/* ----------------------------------------
  
  INDEX

---------------------------------------- */
.index {
  .opening-banner {
    position: relative;
    img {
      width: 100%;
      vertical-align: middle;
    }
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 850px;
      margin-left: -425px;
      margin-top: -50px;
      text-align: center;
      color: #fff;
      text-shadow: 0 1px 3px #000;
    }
  }
  .opening-copy {
    @include span-columns(8);
    @include shift(2);
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    p {
      font-size: 1.2em;
      text-align: center;
    }
  }
  .product-teaser-wrapper {
    @include span-columns(12);
    .product-teaser {
      @include span-columns(6);
      margin-bottom: 2.35765%;
      padding-top: 2%;
      text-align: center;
      border: 3px solid $accent-color-1;
      &:nth-child(even) {
        @include omega();
      }
      a {
        text-decoration: none;
        i {
          font-size: 4em;
          color: $accent-color-1;
        }
        h3 {
          margin-top: 1%;
          color: #222;
        }
      }
      p {
        padding: 0 15%;
        text-align: left;
        font-size: .95em;
        color: #666;
      }
      .btn {
        display: block;
        width: 60%;
        margin: 0 auto 4%;
      }
    }
  }
}


/* ----------------------------------------
  
  BRAND PAGES

---------------------------------------- */
.brand-page {
  @include span-columns(12);
  margin-top: 5%;
  .brand-logo-wrapper {
    @include span-columns(4);
    @include shift(4);
    img {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }
  hr {
    @include span-columns(12);
    margin-top: 4%;
    margin-bottom: 3%;
  }
  h1 {
    @include span-columns(12);
    margin-bottom: 3%;
    margin-top: 0;
    text-align: center;
  }
  p {
    @include span-columns(8);
    @include shift(2);
    margin-top: 0;
  }
  .cta {
    @include span-columns(6);
    @include shift(3);
    margin-top: 2%;
    font-size: 1.3em;
  }
  .brand-asset {
    p {
      @include span-columns(7);
      @include shift(1);
      margin-top: 1%;
      margin-bottom: 4%;
    }
    .brand-img {
      @include span-columns(4);
      @include omega();
    }
    .cta {
      @include span-columns(9);
      @include shift(0);
      margin-top: 5%;
      font-size: 1.1em;
    }
  }
  .d2g-mobile {
    img {
      border: 1px solid #aaa;
      border-radius: 50%;
      box-shadow: 0 0 1px #aaa;
      -webkit-box-shadow: 0 0 1px #aaa;
    }
  }
  .case-study {
    @include span-columns(12);
    .case-study-container {
      @include span-columns(4);
      @include omega();
      padding: 2% 2% 1%;
      border: 3px solid $accent-color-1;
      .btn {
        margin-bottom: 5%;
        font-size: 1.2em;
        background: $accent-color-1;
        i {
          margin-right: 5px;
          font-size: 1.5em;
          vertical-align: middle;
        }
      }
    }
  }
}


/* ----------------------------------------
  
  ABOUT

---------------------------------------- */
.about {
  @include span-columns(12);
  margin-top: 7%;
  .about-copy {
    @include span-columns(12);
    p {
      @include span-columns(8);
      margin-top: 0;
      margin-bottom: 0;
      font-style: italic;
      color: #999;
    }
    a {
      @include span-columns(4);
      @include omega();
      text-align: center;
      color: #007bb6;
      i {
        font-size: 10em;
      }
    }
  }
  hr {
    @include span-columns(12);
    margin-top: 5%;
  }
  .bios-wrapper {
    .bio {
      @include span-columns(12);
      .bio-img {
        @include span-columns(5);
        h3 {
          margin-top: 5%;
          text-align: center;
          font-size: 1.6em;
          span {
            color: #999;
          }
        }
        img {
          border: 1px solid #aaa;
          border-radius: 50%;
          box-shadow: 0 0 1px #aaa;
          -webkit-box-shadow: 0 0 1px #aaa;
        }
      }
      .bio-copy {
        @include span-columns(7);
        @include omega();
        p {
          margin-top: 1%;
          margin-bottom: 0;
        }
      }
    }
  }
}


/* ----------------------------------------
  
  CONTACT

---------------------------------------- */
.contact {
  @include span-columns(12);
  margin-top: 5%;
  h1 {
    @include span-columns(12);
    margin-bottom: 3%;
    text-align: center;
  }
  form {
    @include span-columns(6);
    @include shift(3);
    margin-top: 5%;
    border-color: #ccc;
    background: url("{{ site.baseurl}}/img/shattered.png");
  }
  .contact-info {
    ul {
      li {
        font-size: 1.5em;
      }
    }
  }
}


/* ----------------------------------------
  
  FOOTER

---------------------------------------- */
footer {
  padding: 3% 0 1%;
  margin-top: 10%;
  text-align: center;
  border-top: 1px solid #ccc;
  background: url("{{ site.baseurl}}/img/shattered.png");
  nav {
    @include span-columns(12);
    .logo {
      @include span-columns(4);
      @include shift(4);
      /* RESPONSIVE */
      @include respond-to(768) {
        @include span-columns(2);
        @include shift(5);
      }
    }
    ul {
      @include span-columns(12);
      margin: 5% 0;
      padding: 0;
      text-align: center;
      /* RESPONSIVE */
      @include respond-to(768) {
        margin: 3% 0;
      }
      li {
        display: inline-block;
        margin: 0 3%;
        /* RESPONSIVE */
        @include respond-to(768) {
          margin: 0 1.5%;
        }
        a {
          display: inline-block;
          padding: 15px 5px;
          font-size: 1.1em;
        }
      }
    }
  }
  .copyright {
    font-size: .7em;
    color: #999;
  }
}


/* ----------------------------------------
  
  WUFOO

---------------------------------------- */
.wufoo {
  border: 2px solid $accent-color-1;
  padding: 3%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  span {
    color: red;
    font-size: 1.3em;
  }
  label {
    display: block;
    margin-bottom: 2%;
    font-size: 1.1em;
    font-weight: 700;
  }
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    @include font-1;
    width: 100%;
    margin-bottom: 7%;
    padding: 10px;
    font-size: 1.1em;
    border: 2px solid #ccc;
    color: #666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  input[type="text"],
  input[type="email"] {
    height: 50px;
    &:focus {
      outline-color: $accent-color-1; 
    }
  }
  textarea {
    height: 200px;
    font-size: 1em;
    &:focus {
      outline-color: $accent-color-1; 
    }
  }
  button[type="submit"] {
    margin-top: 3%;
    border: none;
    font-size: 1.3em;
  }
  .hide {
    display: none;
  }
}


/* ----------------------------------------
  
  PRINT

---------------------------------------- */
@media print {
  * {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
  }
  a,
  a:visited {
      text-decoration: underline;
  }
  a[href]:after {
      content: " (" attr(href) ")";
  }
  abbr[title]:after {
      content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
      content: "";
  }
  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }
  thead {
      display: table-header-group;
  }
  tr,
  img {
      page-break-inside: avoid;
  }
  @page {
      margin: 0.5cm;
  }
  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }
  h2,
  h3 {
      page-break-after: avoid;
  }
}
